@font-face {
  font-family: "Gotham Pro";
  src: url("../fonts/../fonts/GothamPro-Light.woff2") format("woff2");
  font-weight: 300;
  font-display: swap;
  font-style: normal; }

@font-face {
  font-family: "Gotham Pro";
  src: url("../fonts/../fonts/GothamPro.woff2") format("woff2");
  font-weight: 400;
  font-display: swap;
  font-style: normal; }

@font-face {
  font-family: "Gotham Pro";
  src: url("../fonts/../fonts/GothamPro-Medium.woff2") format("woff2");
  font-weight: 500;
  font-display: swap;
  font-style: normal; }

@font-face {
  font-family: "Gotham Pro";
  src: url("../fonts/../fonts/GothamPro-Bold.woff2") format("woff2");
  font-weight: 700;
  font-display: swap;
  font-style: normal; }

@font-face {
  font-family: "Cuprum";
  src: url("../fonts/../fonts/Cuprum-regular.woff2") format("woff2");
  font-weight: 400;
  font-display: swap;
  font-style: normal; }

@font-face {
  font-family: "Cuprum";
  src: url("../fonts/../fonts/Cuprum-bold.woff2") format("woff2");
  font-weight: 700;
  font-display: swap;
  font-style: normal; }

html {
  box-sizing: border-box; }

*,
*::before,
*::after {
  box-sizing: inherit; }
  @media (max-width: 1024px) {
    *,
    *::before,
    *::after {
      -webkit-tap-highlight-color: transparent; } }

body {
  margin: 0;
  font-family: "Gotham Pro", sans-serif;
  font-weight: 400;
  font-size: 20px;
  color: #ffffff;
  background-color: #000000; }
  @media (max-width: 1240px) {
    body {
      font-size: 18px; } }
  @media (max-width: 992px) {
    body {
      font-size: 16px; } }
  @media (max-width: 767.98px) {
    body {
      font-size: 14px; } }
  body.body-lock {
    overflow-y: scroll;
    position: fixed;
    width: 100%; }
  body.hide-scroll {
    overflow: hidden; }

h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input,
textarea, p, blockquote, th, td {
  margin: 0;
  padding: 0; }

img {
  max-width: 100%; }

a {
  text-decoration: none; }

p, li, ul {
  margin: 0;
  padding: 0; }

ul {
  list-style: none;
  padding: 0;
  margin: 0; }

svg {
  fill: #ffffff; }

.site-container {
  width: 100%;
  overflow-x: hidden; }

.is-hidden {
  display: none !important; }

.error {
  border: 2px #ff4019 solid !important; }

.js-focus-visible :focus:not(.focus-visible) {
  outline: none; }

.block-title {
  font-weight: bold;
  font-size: 48px;
  line-height: 122.7%;
  color: #ffffff; }
  @media (max-width: 1240px) {
    .block-title {
      font-size: 40px; } }
  @media (max-width: 767.98px) {
    .block-title {
      font-size: 24px; } }
  .block-title--md {
    font-size: 40px; }
    @media (max-width: 1240px) {
      .block-title--md {
        font-size: 30px; } }
    @media (max-width: 767.98px) {
      .block-title--md {
        font-size: 24px; } }
  .block-title--sm {
    font-size: 36px; }
    @media (max-width: 1240px) {
      .block-title--sm {
        font-size: 26px; } }
    @media (max-width: 767.98px) {
      .block-title--sm {
        font-size: 24px; } }
  .block-title--black {
    color: #000000; }
  .block-title--space {
    margin-left: 28px; }
    @media (max-width: 767.98px) {
      .block-title--space {
        margin-left: 0; } }

.color-yellow {
  color: #F8CA58; }

.color-red {
  color: #F85858; }

.text-underline {
  text-decoration: underline;
  -webkit-text-decoration-skip-ink: none;
  text-decoration-skip-ink: none; }

.page-bgtop {
  background: url("../img/page-top-bg.png") no-repeat center top;
  background-size: contain; }
  @media (max-width: 767.98px) {
    .page-bgtop {
      background: url("../img/page-top-bg-mob.png") no-repeat center top;
      background-size: contain; } }

.logo {
  display: block; }
  .logo__img {
    width: 100%; }
    .logo__img--footer {
      width: 236px; }

.nav {
  position: relative; }
  @media (max-width: 1024px) {
    .nav {
      display: none; } }
  .nav__list {
    display: flex;
    align-items: center;
    justify-content: center; }
    @media (max-width: 1200px) {
      .nav__list {
        margin-right: 40px; } }
  .nav__item:not(:last-child) {
    margin-right: 74px; }
    @media (max-width: 1200px) {
      .nav__item:not(:last-child) {
        margin-right: 30px; } }
  .nav__item-arrow {
    height: 9px;
    width: 15px; }
  .nav__link {
    font-size: 16px;
    color: #ffffff;
    position: relative; }
    .nav__link:hover:after {
      width: 100%;
      transition: cubic-bezier(0.39, 0.575, 0.565, 1) 0.3s all; }
    .nav__link:after {
      content: "";
      position: absolute;
      left: 0;
      right: 0;
      bottom: -4px;
      height: 2px;
      width: 0;
      background: #F8CA58; }

.player {
  padding: 16px 22px;
  background: #000000;
  border-radius: 10px;
  display: flex;
  align-items: center; }
  @media (max-width: 1024px) {
    .player {
      display: none; } }
  .player__btn {
    padding: 0;
    margin-right: 27px;
    width: 16px;
    height: 18px; }
    .player__btn-icon {
      width: 100%;
      height: 100%; }
  .player__name {
    font-weight: 300;
    font-size: 15px; }

.language {
  margin-left: 38px;
  font-family: "Cuprum", sans-serif;
  font-weight: 400;
  font-size: 24px; }
  .language__box {
    position: relative; }
  .language__active-name {
    color: #ffffff; }
  .language__list-wrapper {
    max-height: 0;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: calc(100% + 20px);
    transition: all .2s linear; }
    .language__list-wrapper--open {
      max-height: 600px;
      opacity: 1;
      top: calc(100% + 10px); }
  .language__list {
    padding: 13px 18px;
    background: #000000;
    border-radius: 5px; }
  .language__list-btn {
    font-family: Cuprum, sans-serif;
    font-weight: normal;
    font-size: 24px;
    color: #ffffff;
    transition: 0.3s all; }
    .language__list-btn:hover {
      color: #F8CA58; }
    .language__list-btn[disabled=disabled], .language__list-btn:disabled {
      color: #b3b3b3;
      cursor: default; }

.btn {
  border: none;
  background: transparent;
  cursor: pointer; }
  .btn--default {
    display: block;
    text-align: center;
    border-radius: 10px;
    padding: 17px 90px;
    font-family: "Cuprum", sans-serif;
    font-size: 22px;
    transition: 0.3s all; }
    @media (max-width: 1240px) {
      .btn--default {
        padding: 15px 60px;
        font-size: 20px; } }
  .btn--yellow {
    background: #F8CA58;
    color: #000000; }
    .btn--yellow:hover {
      background: #f6ba27; }
  .btn--red-dark {
    background: #EA3A3A;
    color: #ffffff; }
    .btn--red-dark:hover {
      background: #da1717; }
  .btn--red-light {
    background: #F85858;
    color: #ffffff; }
    .btn--red-light:hover {
      background: #f62727; }
  .btn--dark {
    background: #1A1A1A;
    color: #ffffff; }
    .btn--dark:hover {
      background: #343434; }
  .btn--icon {
    padding: 17px 32px 17px 48px;
    display: flex;
    align-items: center;
    display: flex !important;
    justify-content: space-between; }
    .btn--icon svg {
      width: 33px;
      height: 28px; }
      @media (max-width: 767.98px) {
        .btn--icon svg {
          width: 25px;
          height: 20px; } }
  .btn--center {
    text-align: center; }
  .btn--blinking {
    position: relative;
    overflow: hidden; }
    .btn--blinking span {
      position: relative;
      z-index: 1; }
    .btn--blinking:before {
      content: "";
      position: absolute;
      z-index: 0;
      top: -50px;
      left: -50px;
      transform: rotate(45deg);
      height: 200px;
      width: 30px;
      background-color: #ffffff;
      transition: all 0.1s;
      -webkit-animation: slide 4s ease-in-out 0.05s infinite;
      animation: slide 4s ease-in-out 0.05s infinite; }

@-webkit-keyframes slide {
  0% {
    left: -70px;
    margin-left: 0; }
  25% {
    left: 110%;
    margin-left: 80px; }
  100% {
    left: 110%;
    margin-left: 80px; } }

.socials__text {
  font-size: 16px;
  color: #8D8D8D;
  margin-bottom: 22px; }

.socials__list {
  display: flex;
  align-items: center; }

.socials__link {
  display: inline-block;
  width: 36px;
  height: 36px; }
  .socials__link:not(:last-child) {
    margin-right: 30px; }
  .socials__link:hover svg {
    fill: #EA3A3A; }
  .socials__link--hover-yellow:hover svg {
    fill: #F8CA58; }
  .socials__link svg {
    width: 36px;
    height: 36px;
    fill: #ffffff;
    transition: 0.3s all; }

.more {
  display: flex;
  align-items: center;
  border: none;
  margin: 0;
  padding: 0;
  width: auto;
  overflow: visible;
  background: transparent;
  color: inherit;
  font: inherit;
  line-height: normal;
  cursor: pointer; }
  .more .more__arrow {
    -webkit-animation: moveMoreArrow 1.7s ease-in-out infinite;
    animation: moveMoreArrow 1.7s ease-in-out infinite; }
  .more__text {
    color: #ffffff;
    font-size: 20px;
    position: relative; }
    .more__text--underline:before {
      content: "";
      position: absolute;
      right: 0;
      left: 0;
      bottom: -1px;
      width: 100%;
      height: 1px;
      background: #ffffff; }
  .more__arrow {
    width: 37px;
    height: 15px;
    fill: #F8CA58;
    padding-left: 10px; }

@-webkit-keyframes moveMoreArrow {
  0% {
    transform: translateX(0); }
  50% {
    transform: translateX(5px); }
  100% {
    transform: translateX(0); } }

@keyframes moveMoreArrow {
  0% {
    transform: translateX(0); }
  50% {
    transform: translateX(5px); }
  100% {
    transform: translateX(0); } }

.video {
  width: 100%;
  height: 395px;
  border-radius: 13px;
  overflow: hidden;
  position: relative;
  background: url("../img/video-bg.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat; }
  @media (max-width: 767.98px) {
    .video {
      height: 285px; } }
  .video--full {
    height: 460px; }
    @media (max-width: 767.98px) {
      .video--full {
        height: 360px; } }
  .video__btn {
    height: 120px;
    width: 120px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }
    @media (max-width: 767.98px) {
      .video__btn {
        height: 90px;
        width: 90px; } }
    .video__btn--play {
      background: url("../img/play.png") no-repeat center;
      background-size: contain; }

.courses-picker {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  margin-left: -10px;
  margin-right: -10px;
  padding: 50px 0 120px; }
  @media (max-width: 992px) {
    .courses-picker {
      padding: 40px 0 60px; } }

input[type=checkbox]:disabled ~ .courses-picker__card:active {
  transform: scale(1); }

.courses-picker__card {
  width: 25%;
  display: block;
  padding: 0 10px;
  margin-bottom: 13px;
  cursor: pointer;
  transform: scale(1);
  transition: 200ms ease-in-out;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }
  @media (max-width: 1240px) {
    .courses-picker__card {
      width: 33.333333%; } }
  @media (max-width: 992px) {
    .courses-picker__card {
      width: 50%; } }
  @media (max-width: 767.98px) {
    .courses-picker__card {
      width: 100%; } }
  .courses-picker__card:active {
    transform: scale(0.96); }
  .courses-picker__card-inner {
    background: #ffffff;
    border-radius: 15px;
    padding: 23px 40px 23px 30px;
    height: 90px;
    display: flex;
    align-items: center;
    position: relative; }
  .courses-picker__card-icon {
    width: 43px;
    height: 43px;
    margin-right: 42px; }
  .courses-picker__card-title {
    font-family: Cuprum, sans-serif;
    font-weight: 700;
    font-size: 22px;
    color: #000000; }
  .courses-picker__card .custom-checkbox__icon {
    margin-left: auto; }

.courses-picker__card--coming {
  cursor: default; }
  .courses-picker__card--coming:active {
    transform: scale(1); }
  .courses-picker__card--coming .courses-picker__card-inner {
    padding: 23px 16px 23px 30px; }
    .courses-picker__card--coming .courses-picker__card-inner:before {
      content: "";
      position: absolute;
      right: 0;
      top: 0;
      bottom: 0;
      height: 100%;
      width: 150px;
      background: linear-gradient(270deg, #000000 0%, rgba(0, 0, 0, 0) 98.36%); }
  .courses-picker__card--coming .courses-picker__card-coming {
    font-family: Cuprum, sans-serif;
    font-weight: 700;
    font-size: 22px;
    color: #ffffff;
    text-transform: uppercase;
    position: relative;
    margin-left: auto; }

.custom-checkbox {
  cursor: pointer; }
  .custom-checkbox input[type=checkbox] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    position: absolute;
    display: block;
    outline: none;
    border: none;
    background: none;
    padding: 0;
    margin: 0; }
    .custom-checkbox input[type=checkbox]:checked ~ .custom-checkbox__inner .custom-checkbox__icon:before {
      transform: scale(1);
      opacity: 1; }
  .custom-checkbox__inner--inline {
    display: flex;
    align-items: center; }
  .custom-checkbox__icon {
    width: 20px;
    height: 20px;
    display: inline-block;
    border: 1px solid #000000;
    border-radius: 3px;
    transition: 200ms linear;
    position: relative; }
    @media (max-width: 767.98px) {
      .custom-checkbox__icon {
        width: 15px;
        height: 15px; } }
    .custom-checkbox__icon:before {
      content: "";
      position: absolute;
      inset: 0 -4px 0 -3px;
      background-image: url("data:image/svg+xml,%3Csvg width='25' height='18' viewBox='0 0 25 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1.06043 7.18844C1.64622 6.60265 2.59597 6.60265 3.18175 7.18844L11.0811 15.0878L8.95977 17.2091L1.06043 9.30976C0.474646 8.72397 0.474647 7.77422 1.06043 7.18844Z' fill='%23F85858'/%3E%3Cpath d='M23.1483 1.06065C23.7341 1.64643 23.7341 2.59618 23.1483 3.18197L9.12117 17.2091L6.99985 15.0878L21.027 1.06065C21.6128 0.47486 22.5625 0.474861 23.1483 1.06065Z' fill='%23F85858'/%3E%3C/svg%3E%0A");
      background-repeat: no-repeat;
      background-size: 25px;
      background-position: center center;
      transform: scale(1.1);
      transition: 200ms linear;
      opacity: 0; }
      @media (max-width: 767.98px) {
        .custom-checkbox__icon:before {
          background-size: 18px; } }
  .custom-checkbox__icon--yellow {
    border: 1px solid #444444; }
    .custom-checkbox__icon--yellow:before {
      background-image: url("data:image/svg+xml,%3Csvg width='25' height='18' viewBox='0 0 25 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1.06043 7.18835C1.64622 6.60256 2.59597 6.60256 3.18175 7.18835L11.0811 15.0877L8.95977 17.209L1.06043 9.30967C0.474646 8.72388 0.474647 7.77413 1.06043 7.18835Z' fill='%23F8CA58'/%3E%3Cpath d='M23.1483 1.06068C23.7341 1.64646 23.7341 2.59621 23.1483 3.182L9.12117 17.2092L6.99985 15.0878L21.027 1.06068C21.6128 0.474891 22.5625 0.474891 23.1483 1.06068Z' fill='%23F8CA58'/%3E%3C/svg%3E%0A"); }
  .custom-checkbox__icon--red {
    border: 1px solid #444444; }
    .custom-checkbox__icon--red:before {
      background-image: url("data:image/svg+xml,%3Csvg width='25' height='18' viewBox='0 0 25 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1.06043 7.18844C1.64622 6.60265 2.59597 6.60265 3.18175 7.18844L11.0811 15.0878L8.95977 17.2091L1.06043 9.30976C0.474646 8.72397 0.474647 7.77422 1.06043 7.18844Z' fill='%23F85858'/%3E%3Cpath d='M23.1483 1.06065C23.7341 1.64643 23.7341 2.59618 23.1483 3.18197L9.12117 17.2091L6.99985 15.0878L21.027 1.06065C21.6128 0.47486 22.5625 0.474861 23.1483 1.06065Z' fill='%23F85858'/%3E%3C/svg%3E%0A"); }
  .custom-checkbox__text {
    font-family: Cuprum, sans-serif;
    font-size: 14px;
    color: #717171; }
    @media (max-width: 767.98px) {
      .custom-checkbox__text {
        font-size: 12px; } }
    .custom-checkbox__text a {
      color: #717171; }
    .custom-checkbox__text--inline {
      margin-left: 15px; }
      @media (max-width: 767.98px) {
        .custom-checkbox__text--inline {
          margin-left: 8px; } }

.custom-list__item {
  display: flex;
  align-items: center; }
  .custom-list__item:not(:last-child) {
    margin-bottom: 45px; }

.course-card {
  position: relative;
  height: 452px;
  border-radius: 20px;
  padding: 14px; }
  .course-card:not(:last-child) {
    margin-bottom: 27px; }
  @media (max-width: 1024px) {
    .course-card {
      height: 340px;
      padding: 12px; } }
  @media (max-width: 767.98px) {
    .course-card {
      height: 520px;
      max-width: 330px;
      padding: 12px;
      margin: 0 auto; } }
  .course-card--coming {
    display: flex;
    align-items: center; }
  .course-card__inner {
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 1;
    display: flex;
    justify-content: flex-end; }
    .course-card__inner--coming {
      height: auto;
      justify-content: flex-start;
      padding-left: 150px; }
      @media (max-width: 1024px) {
        .course-card__inner--coming {
          padding-left: 70px; } }
      @media (max-width: 767.98px) {
        .course-card__inner--coming {
          flex-direction: column;
          align-items: center;
          width: 100%;
          padding: 0;
          margin-top: auto; } }
    .course-card__inner--two-col {
      justify-content: space-between; }
      @media (max-width: 767.98px) {
        .course-card__inner--two-col {
          flex-direction: column-reverse;
          position: relative;
          padding-bottom: 70px;
          justify-content: initial; } }
  .course-card__preview {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    z-index: 0; }
    @media (max-width: 767.98px) {
      .course-card__preview {
        display: none; } }
    .course-card__preview--mob {
      display: none; }
      @media (max-width: 767.98px) {
        .course-card__preview--mob {
          display: block; } }
  .course-card__advantages {
    padding-left: 40px;
    padding-bottom: 20px;
    align-self: flex-end; }
    @media (max-width: 767.98px) {
      .course-card__advantages {
        padding-left: 0;
        padding-bottom: 0;
        align-self: initial; } }
  .course-card__advantages-title {
    font-size: 24px;
    color: #ffffff; }
    @media (max-width: 767.98px) {
      .course-card__advantages-title {
        font-size: 14px; } }
  .course-card__advantages-list {
    padding-top: 20px; }
    @media (max-width: 767.98px) {
      .course-card__advantages-list {
        padding-top: 10px; } }
  .course-card__advantages-item {
    position: relative;
    font-size: 24px;
    color: #ffffff;
    padding-left: 54px; }
    .course-card__advantages-item:not(:last-child) {
      margin-bottom: 26px; }
    @media (max-width: 767.68px) {
      .course-card__advantages-item {
        font-size: 16px;
        padding-left: 30px; }
        .course-card__advantages-item:not(:last-child) {
          margin-bottom: 15px; } }
    .course-card__advantages-item:before {
      content: "";
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: 0;
      width: 30px;
      height: 30px;
      background: url("data:image/svg+xml,%3Csvg width='30' height='29' viewBox='0 0 30 29' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='14.5' cy='14.5' r='13.5' stroke='white' stroke-width='2'/%3E%3Cpath d='M1.54452 11.2082C2.10242 10.5958 3.00695 10.5958 3.56485 11.2082L13.3441 21.9428L10.7896 24.7468L1.01042 14.0122C0.452517 13.3998 0.452517 12.4069 1.01042 11.7945L1.54452 11.2082Z' fill='%23F85858'/%3E%3Cpath d='M28.1402 3.69485C28.6981 4.30726 28.6981 5.30016 28.1402 5.91257L10.982 24.7471L8.42761 21.9431L25.5858 3.10857C26.1437 2.49616 27.0482 2.49616 27.6061 3.10857L28.1402 3.69485Z' fill='%23F85858'/%3E%3C/svg%3E%0A");
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain; }
      @media (max-width: 767.68px) {
        .course-card__advantages-item:before {
          width: 20px;
          height: 20px; } }
  .course-card__data {
    width: 580px;
    padding: 15px 0 3px;
    display: flex;
    flex-direction: column; }
    @media (max-width: 1024px) {
      .course-card__data {
        width: 380px; } }
    @media (max-width: 767.98px) {
      .course-card__data {
        width: 100%;
        height: -webkit-max-content;
        height: -moz-max-content;
        height: max-content;
        align-self: flex-end; } }
    .course-card__data--coming {
      width: 60%;
      padding: 0 60px 0 0; }
      @media (max-width: 767.98px) {
        .course-card__data--coming {
          width: 100%;
          padding: 0; } }
  .course-card__header {
    display: flex;
    font-family: Cuprum, sans-serif;
    font-style: normal;
    margin-bottom: 38px; }
    @media (max-width: 767.98px) {
      .course-card__header {
        margin-bottom: 5px; } }
    .course-card__header--coming {
      margin-bottom: 5px; }
  .course-card__name {
    font-weight: 700;
    font-size: 36px;
    color: #ffffff;
    margin-right: 16px; }
    @media (max-width: 1024px) {
      .course-card__name {
        font-size: 24px;
        margin-right: 12px; } }
  .course-card__release-info {
    font-family: Cuprum, sans-serif;
    font-weight: 700;
    font-size: 72px; }
    @media (max-width: 1024px) {
      .course-card__release-info {
        font-size: 42px; } }
    @media (max-width: 767.98px) {
      .course-card__release-info {
        font-size: 32px; } }
  .course-card__rating {
    display: flex;
    align-items: center; }
    .course-card__rating-val {
      display: inline-block;
      margin-top: 5px;
      font-weight: 700;
      font-size: 24px;
      color: #ffffff; }
      @media (max-width: 1024px) {
        .course-card__rating-val {
          margin-top: 2px; } }
    .course-card__rating-star {
      width: 25px;
      height: 25px;
      margin-left: 8px;
      fill: #F8CA58; }
  .course-card__price {
    margin-top: 24px;
    display: flex;
    line-height: 1; }
    @media (max-width: 767.98px) {
      .course-card__price {
        display: none; } }
    .course-card__price--coming {
      margin: 18px 0 0 0; }
    .course-card__price-text {
      font-family: Cuprum, sans-serif;
      font-style: normal;
      font-weight: 700;
      font-size: 36px;
      align-self: flex-end; }
      @media (max-width: 1024px) {
        .course-card__price-text {
          font-size: 26px; } }
    .course-card__price-val {
      font-size: 48px;
      font-weight: 500;
      margin: 0 22px 0 10px; }
      @media (max-width: 1024px) {
        .course-card__price-val {
          font-size: 32px;
          margin: 0 15px 0 8px; } }
    .course-card__price-val-old {
      height: -webkit-max-content;
      height: -moz-max-content;
      height: max-content;
      font-weight: 700;
      font-size: 24px;
      letter-spacing: 0.065em;
      color: #818181;
      position: relative; }
      @media (max-width: 1024px) {
        .course-card__price-val-old {
          font-size: 16px; } }
      .course-card__price-val-old:before {
        content: "";
        width: 100%;
        height: 1.5px;
        background: #ffffff;
        position: absolute;
        top: 0;
        bottom: 0;
        margin: auto 0;
        transform: rotate(-16deg); }
        @media (max-width: 1024px) {
          .course-card__price-val-old:before {
            height: 1px; } }
  .course-card__action {
    display: flex;
    align-items: center;
    margin-top: auto; }
    @media (max-width: 1024px) {
      .course-card__action {
        margin-top: 20px; } }
    .course-card__action--coming {
      flex-grow: 1;
      justify-content: flex-end; }
      @media (max-width: 767.68px) {
        .course-card__action--coming {
          width: 100%; } }
  .course-card__btn {
    width: 50%;
    padding: 16px 15px;
    font-family: Gotham Pro, sans-serif;
    font-weight: 500;
    font-size: 22px; }
    @media (max-width: 1024px) {
      .course-card__btn {
        font-size: 18px;
        font-weight: 400; } }
    .course-card__btn--more {
      margin-right: 11px; }
      @media (max-width: 767.98px) {
        .course-card__btn--more {
          position: absolute;
          background: transparent;
          text-decoration: underline;
          top: 40px;
          left: 0;
          padding: 0;
          font-size: 18px;
          width: initial;
          margin: 0;
          font-family: Cuprum, sans-serif;
          font-weight: 700;
          -webkit-text-decoration-skip-ink: none;
          text-decoration-skip-ink: none; } }
    @media (max-width: 767.98px) {
      .course-card__btn--buy {
        width: 100%; } }
    .course-card__btn--coming {
      width: 240px; }
      @media (max-width: 767.68px) {
        .course-card__btn--coming {
          width: 100%; } }
    @media (max-width: 767.98px) {
      .course-card__btn--two-col {
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%; } }
  .course-card__label {
    position: absolute;
    top: 14px;
    left: 14px;
    padding: 7px 18px;
    font-family: Cuprum, sans-serif;
    font-weight: 600;
    font-size: 14px; }
    .course-card__label--new {
      color: #000000;
      background: #ffffff;
      border-radius: 15px; }
  .course-card__likes {
    position: absolute;
    right: 14px;
    top: 14px;
    display: flex;
    align-items: center; }
    .course-card__likes-icon {
      width: 28px;
      height: 28px;
      fill: #ffffff;
      margin-right: 9px; }
    .course-card__likes-count {
      font-family: Cuprum, sans-serif;
      font-weight: 400;
      font-size: 22px; }

.course-card__btn-buy-price {
  font-weight: 400;
  font-size: 18px;
  display: inline-block;
  margin-left: 10px; }
  @media (min-width: 768px) {
    .course-card__btn-buy-price {
      display: none; } }

.countdown__title {
  font-family: Cuprum, sans-serif;
  font-weight: 700;
  font-size: 36px;
  color: #ffffff;
  margin-bottom: 14px; }
  @media (max-width: 1024px) {
    .countdown__title {
      font-size: 18px;
      margin-bottom: 12px; } }

.countdown__wrapper {
  display: flex;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content; }

.countdown__block {
  width: calc(61px * 2 + 6px);
  display: flex;
  flex-wrap: wrap; }
  @media (max-width: 1024px) {
    .countdown__block {
      width: calc(34px * 2 + 4px); } }
  .countdown__block .countdown__item:first-child {
    margin-right: 6px; }
    @media (max-width: 1024px) {
      .countdown__block .countdown__item:first-child {
        margin-right: 4px; } }

.countdown__item {
  width: 61px;
  height: 75px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #1d1d1d;
  border-radius: 5px; }
  @media (max-width: 1024px) {
    .countdown__item {
      width: 34px;
      height: 42px; } }
  .countdown__item-val {
    font-size: 64px;
    line-height: 1; }
    @media (max-width: 1024px) {
      .countdown__item-val {
        font-size: 32px; } }

.countdown__spacer {
  font-size: 64px;
  width: 18px;
  margin: 0 5px; }
  @media (max-width: 1024px) {
    .countdown__spacer {
      font-size: 34px;
      width: initial;
      margin: 0 3px; } }

.countdown__unit-name {
  width: 100%;
  text-align: center;
  text-transform: capitalize;
  font-size: 24px;
  margin-top: 7px; }
  @media (max-width: 1024px) {
    .countdown__unit-name {
      font-size: 13px;
      margin-top: 5px; } }

.mail-chimp__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 22px;
  width: 90%; }
  @media (max-width: 992px) {
    .mail-chimp__header {
      margin-bottom: 20px;
      width: 100%; } }

.mail-chimp__hint {
  font-size: 18px;
  color: #767676;
  margin-right: 15px; }
  @media (max-width: 992px) {
    .mail-chimp__hint {
      font-size: 14px; } }

@media (max-width: 992px) {
  .mail-chimp__privacy {
    position: absolute;
    width: 100%;
    bottom: 0;
    left: auto; } }

.input {
  border: none;
  outline: none; }
  .input:focus, .input:active {
    border: none;
    outline: none; }
  .input--default {
    font-family: Cuprum, sans-serif;
    font-weight: 400;
    font-size: 20px;
    color: #8D8E90;
    background: #ffffff;
    padding: 14px 24px;
    border-radius: 10px;
    height: 50px; }
    .input--default::-moz-placeholder {
      color: #8D8E90; }
    .input--default:-ms-input-placeholder {
      color: #8D8E90; }
    .input--default::placeholder {
      color: #8D8E90; }
    .input--default:focus::-moz-placeholder {
      opacity: 0; }
    .input--default:focus:-ms-input-placeholder {
      opacity: 0; }
    .input--default:focus::placeholder {
      opacity: 0; }
  .input--bg-dark {
    background: #1A1C21;
    color: #8D8E90; }

.accordion {
  max-width: 1110px;
  margin: 0 auto; }
  .accordion__item {
    background: #121316;
    border-radius: 10px;
    overflow: hidden; }
    .accordion__item:not(:last-child) {
      margin-bottom: 10px; }
  .accordion__btn {
    width: 100%;
    height: 104px;
    border-radius: 10px;
    padding: 0 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #1A1C21; }
    .accordion__btn[aria-expanded='true'] .accordion__icon {
      transform: rotate(180deg); }
    .accordion__btn[aria-expanded='true'] + .accordion__collapse {
      opacity: 1;
      max-height: 500px;
      transition: all 250ms linear; }
  .accordion__title {
    font-weight: 500;
    font-size: 28px;
    color: #ffffff; }
  .accordion__icon {
    width: 36px;
    height: 21px;
    fill: #F8CA58;
    transition: all 250ms linear; }
  .accordion__collapse {
    width: 100%;
    opacity: 0;
    max-height: 0;
    overflow: hidden;
    transition: opacity 250ms linear, max-height 250ms linear;
    /*    &:not(&--show) {
      display: none;
    }*/ }
    .accordion__collapse--collapsing {
      height: 0;
      overflow: hidden;
      transition: height 250ms ease; }
  .accordion__body {
    font-size: 18px;
    line-height: 121.7%;
    color: #ffffff;
    padding: 35px 60px; }

.created-by {
  font-size: 11px;
  color: #ffffff; }
  .created-by a {
    font-size: 14px; }

.reviews-slider {
  width: 100%;
  position: relative; }
  .reviews-slider__wrapper {
    width: 100%; }
  .reviews-slider__slide {
    width: calc((100% - 56px) / 3); }
    .reviews-slider__slide:not(:last-child) {
      margin-right: 28px; }
    @media (max-width: 1240px) {
      .reviews-slider__slide {
        width: calc((100% - 25px) / 2); }
        .reviews-slider__slide:not(:last-child) {
          margin-right: 25px; } }
    @media (max-width: 992px) {
      .reviews-slider__slide {
        width: 100%; } }
  .reviews-slider__btn {
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 71px;
    height: 71px;
    border-radius: 50%;
    background: #F8CA58;
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.3s all; }
    @media (max-width: 992px) {
      .reviews-slider__btn {
        display: none; } }
    .reviews-slider__btn.swiper-button-disabled {
      background: #ffffff; }
    .reviews-slider__btn svg {
      width: 17px;
      height: 29px;
      fill: #000000; }
    .reviews-slider__btn--prev {
      left: -55px; }
      .reviews-slider__btn--prev svg {
        transform: translateX(-3px); }
    .reviews-slider__btn--next {
      right: -55px;
      margin-right: 3px; }
      .reviews-slider__btn--next svg {
        transform: rotate(180deg) translateX(-3px); }

.review-card {
  width: 100%;
  background: #1A1C21;
  border-radius: 10px;
  height: auto; }
  .review-card__header {
    color: #ffffff;
    background: #1F2022;
    border-radius: 10px;
    padding: 26px;
    display: flex;
    align-items: center; }
    @media (max-width: 1400px) {
      .review-card__header {
        padding: 15px; } }
    @media (max-width: 540px) {
      .review-card__header {
        position: relative;
        padding: 16px 35px 40px 20px; } }
    @media (max-width: 450px) {
      .review-card__header {
        padding: 16px 35px 50px 20px; } }
  .review-card__ava {
    width: 138px;
    height: 138px;
    border-radius: 50%; }
    @media (max-width: 1400px) {
      .review-card__ava {
        width: 110px;
        height: 110px; } }
    @media (max-width: 540px) {
      .review-card__ava {
        width: 94px;
        height: 94px; } }
  .review-card__info {
    margin-left: 40px; }
    @media (max-width: 1400px) {
      .review-card__info {
        margin-left: 20px; } }
  .review-card__name {
    font-weight: 500;
    font-size: 27px; }
    @media (max-width: 450px) {
      .review-card__name {
        font-size: 20px; } }
  .review-card__city {
    font-size: 18px;
    margin-right: 13px; }
    @media (max-width: 450px) {
      .review-card__city {
        font-size: 15px; } }
  .review-card__age {
    font-size: 13px; }
    @media (max-width: 450px) {
      .review-card__age {
        font-size: 10px; } }
  .review-card__rating {
    margin: 15px 0; }
  .review-card__course-name {
    font-family: Cuprum, sans-serif;
    font-size: 14px;
    color: #000000;
    background: #ffffff;
    border-radius: 15px;
    padding: 7px 26px;
    white-space: nowrap; }
    @media (max-width: 540px) {
      .review-card__course-name {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        bottom: 10px; } }
    @media (max-width: 450px) {
      .review-card__course-name {
        bottom: 13px; } }
  .review-card__body {
    padding: 30px 26px 40px;
    font-size: 18px;
    line-height: 121.7%;
    color: #ffffff; }
    @media (max-width: 1400px) {
      .review-card__body {
        padding: 30px 15px 40px; } }
    @media (max-width: 540px) {
      .review-card__body {
        padding: 20px 15px; } }

.star-rating {
  display: flex;
  align-items: center; }
  .star-rating__item {
    line-height: 1;
    color: #F8CA58;
    font-size: 27px; }
    .star-rating__item:not(:last-child) {
      margin-right: 6px; }

.tabs__nav {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -4px; }
  @media (max-width: 767.98px) {
    .tabs__nav--catalog {
      justify-content: center;
      padding-bottom: 20px; } }

.tabs__nav-btn {
  white-space: nowrap;
  max-width: 300px;
  background: #ffffff;
  border-radius: 15px;
  padding: 10px 35px;
  margin: 0 4px 10px;
  font-family: Cuprum, sans-serif;
  font-size: 18px;
  color: #000000;
  transition: 0.3s all; }
  @media (max-width: 768px) {
    .tabs__nav-btn {
      display: none; } }
  .tabs__nav-btn:hover {
    background: #e6e6e6; }
  @media (max-width: 767.98px) {
    .tabs__nav-btn--mob {
      display: block; } }

#typed-cursor {
  font-weight: 200;
  font-size: 50px;
  color: #ffffff;
  opacity: 1;
  display: inline-block;
  margin-left: -10px;
  -webkit-animation: blink 1.1s infinite;
  animation: blink 1.1s infinite; }
  @media (max-width: 1024px) {
    #typed-cursor {
      font-size: 36px; } }

@-webkit-keyframes blink {
  0% {
    opacity: 1; }
  50% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes blink {
  0% {
    opacity: 1; }
  50% {
    opacity: 0; }
  100% {
    opacity: 1; } }

.modal {
  position: relative;
  display: none; }
  .modal--open {
    display: block; }
  .modal__overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999; }
  .modal__container {
    position: relative;
    background: #000000;
    border-radius: 22px;
    padding: 46px 62px 68px;
    width: 675px;
    max-height: 90vh;
    overflow-y: auto;
    box-sizing: border-box;
    margin: 10px; }
    @media (max-width: 767.98px) {
      .modal__container {
        padding: 50px 30px 40px; } }
    .modal__container--text {
      width: 100%;
      padding: 90px 80px; }
      @media (min-width: 1600px) {
        .modal__container--text {
          width: 1560px; } }
      @media (max-width: 992px) {
        .modal__container--text {
          padding: 50px 30px; } }
  .modal__btn-close {
    display: inline-block;
    padding: 0;
    margin: 0;
    width: 25px;
    height: 25px;
    position: absolute;
    top: 25px;
    right: 25px; }
    @media (max-width: 992px) {
      .modal__btn-close {
        top: 15px;
        right: 15px; } }
    @media (max-width: 540px) {
      .modal__btn-close {
        width: 20px;
        height: 20px;
        position: absolute;
        top: 10px;
        right: 10px; } }
    .modal__btn-close:hover svg {
      transform: rotate(90deg); }
    .modal__btn-close svg {
      width: 100%;
      height: 100%;
      fill: #ffffff;
      transform: rotate(0deg);
      transition: transform .25s; }

.modal[aria-hidden="false"] .modal__overlay {
  -webkit-animation: fadeIn 0.3s cubic-bezier(0, 0, 0.2, 1);
  animation: fadeIn 0.3s cubic-bezier(0, 0, 0.2, 1); }

.modal[aria-hidden="false"] .modal__container {
  -webkit-animation: slideIn 0.3s cubic-bezier(0, 0, 0.2, 1);
  animation: slideIn 0.3s cubic-bezier(0, 0, 0.2, 1); }

.modal[aria-hidden="true"] .modal__overlay {
  -webkit-animation: fadeOut 0.3s cubic-bezier(0, 0, 0.2, 1);
  animation: fadeOut 0.3s cubic-bezier(0, 0, 0.2, 1); }

.modal[aria-hidden="true"] .modal__container {
  -webkit-animation: slideOut 0.3s cubic-bezier(0, 0, 0.2, 1);
  animation: slideOut 0.3s cubic-bezier(0, 0, 0.2, 1); }

.modal .modal__container,
.modal .modal__overlay {
  will-change: transform; }

/*-- Modal Animations --*/
@-webkit-keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
@keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@-webkit-keyframes fadeOut {
  from {
    opacity: 1; }
  to {
    opacity: 0; } }

@keyframes fadeOut {
  from {
    opacity: 1; }
  to {
    opacity: 0; } }

@-webkit-keyframes slideIn {
  from {
    transform: translateY(15%); }
  to {
    transform: translateY(0); } }

@keyframes slideIn {
  from {
    transform: translateY(15%); }
  to {
    transform: translateY(0); } }

@-webkit-keyframes slideOut {
  from {
    transform: translateY(0); }
  to {
    transform: translateY(-10%); } }

@keyframes slideOut {
  from {
    transform: translateY(0); }
  to {
    transform: translateY(-10%); } }

.contest-rules__title {
  font-weight: 700;
  font-size: 33px;
  color: #ffffff;
  margin-bottom: 40px; }
  @media (max-width: 992px) {
    .contest-rules__title {
      font-size: 26px;
      margin-bottom: 20px; } }
  @media (max-width: 540px) {
    .contest-rules__title {
      font-size: 20px;
      margin-bottom: 20px; } }

.contest-rules__text {
  line-height: 30px;
  color: #ffffff; }
  @media (max-width: 992px) {
    .contest-rules__text {
      line-height: 1.4; } }

.menu-burger {
  display: none;
  position: relative;
  z-index: 101;
  margin-left: 20px;
  width: 40px;
  height: 40px; }
  @media (max-width: 1024px) {
    .menu-burger {
      display: block;
      margin-left: 0;
      margin-right: 26px; } }
  .menu-burger__el, .menu-burger__el:before, .menu-burger__el:after {
    display: block;
    position: absolute;
    height: 5px;
    background: #ffffff;
    visibility: visible;
    transition: .2s ease-in-out; }
  .menu-burger__el {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }
  .menu-burger__el, .menu-burger__el:before {
    width: 35px; }
  .menu-burger__el:before {
    content: "";
    top: -10px; }
  .menu-burger__el:after {
    content: "";
    width: 30px;
    background: #F8CA58;
    top: 10px; }
  .menu-burger.is-open .menu-burger__el {
    background: transparent; }
    .menu-burger.is-open .menu-burger__el:before {
      background: #F8CA58;
      transform: translateY(10px) rotate(45deg); }
    .menu-burger.is-open .menu-burger__el:after {
      width: 35px;
      transform: translateY(-10px) rotate(-45deg); }

.menu-mobile {
  transform: translateX(-120%);
  opacity: 0;
  background: #000000;
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: 99;
  transition: 0.3s all; }
  .menu-mobile--open {
    transform: translateX(0);
    opacity: 1; }

.menu {
  padding: 115px 30px 60px; }
  .menu__item {
    height: 52px;
    display: flex;
    align-items: center; }
    .menu__item:not(:last-child) {
      border-bottom: 1px solid #252525; }
  .menu__link {
    font-weight: 500;
    font-size: 18px;
    color: #ffffff; }
    @media (max-width: 767.98px) {
      .menu__link {
        font-size: 16px; } }

.title-accent {
  position: relative;
  display: inline-block; }
  .title-accent:before {
    content: "";
    position: absolute;
    bottom: -15px;
    left: 50%;
    transform: translateX(-50%);
    width: 80%;
    height: 12px;
    background-image: url("data:image/svg+xml,%3Csvg width='198' height='12' viewBox='0 0 198 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 0H187.579L198 12L0 6.62069V0Z' fill='%23F8CA58'/%3E%3C/svg%3E%0A");
    background-size: contain;
    background-repeat: no-repeat; }

.buying-form {
  width: 408px;
  margin: 0 auto; }
  @media (max-width: 767.98px) {
    .buying-form {
      width: 100%; } }
  .buying-form__row {
    position: relative;
    margin-bottom: 30px; }
    @media (max-width: 767.98px) {
      .buying-form__row {
        margin-bottom: 20px; } }
    .buying-form__row:before {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      height: 12px;
      border-radius: 7px;
      border-bottom: 3px solid #F8CA58; }
  .buying-form__input {
    display: block;
    width: 100%;
    height: 50px;
    background: #000000;
    font-family: Cuprum, sans-serif;
    font-weight: 400;
    font-size: 20px;
    color: #8D8E90;
    padding: 10px; }
    @media (max-width: 767.98px) {
      .buying-form__input {
        height: 40px; } }
    .buying-form__input:focus + .buying-form__label {
      opacity: 0; }
    .buying-form__input--tooltip {
      padding: 10px 40px 10px 10px; }
  .buying-form__label {
    position: absolute;
    padding: 0 10px;
    top: 0;
    left: 0;
    bottom: 0;
    font-family: Cuprum, sans-serif;
    font-weight: 400;
    font-size: 20px;
    color: #8D8E90;
    display: flex;
    align-items: center;
    transition: all .2s linear;
    cursor: text; }
    @media (max-width: 767.98px) {
      .buying-form__label {
        font-size: 14px; } }
  .buying-form__checkbox {
    display: block;
    margin-left: 45px; }
    @media (max-width: 767.98px) {
      .buying-form__checkbox {
        margin-left: 15px; } }
  .buying-form__btn {
    height: 59px;
    width: 287px;
    margin: 80px auto 0;
    font-family: Gotham Pro, sans-serif;
    font-size: 18px;
    padding: 10px 20px; }
    @media (max-width: 767.98px) {
      .buying-form__btn {
        height: 40px;
        width: 240px;
        margin: 50px auto 0;
        font-size: 16px; } }

        .search-form {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: -2px;
  width: 0; }
  .search-form__inner {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    overflow: hidden; }
  .search-form__input {
    width: calc(100% - 126px + 8px);
    margin-right: -8px;
    font-family: "Gotham Pro", sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #949494;
    border-radius: 5px; }
    .search-form__input::-moz-placeholder {
      color: #949494; }
    .search-form__input:-ms-input-placeholder {
      color: #949494; }
    .search-form__input::placeholder {
      color: #949494; }
      .search-form__input--mobile {
        height: auto;
        font-size: 14px;
        padding: 12px 20px;
        width: calc(100% - 100px + 8px);
      }
  .search-form__btn-search {
    width: 126px;
    min-height: 100%;
    padding: 5px 10px;
    font-family: "Gotham Pro", sans-serif;
    font-weight: 500;
    border-radius: 5px 0 0 5px;
    font-size: 16px;
    color: #000000; }
    .search-form__btn-search--mobile {
      border-radius: 5px;
      font-size: 14px;
      width: 100px;
    }
  .search-form__btn-close {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #F8CA58;
    padding: 0;
    width: 60px;
    border-radius: 0 5px 5px 0;
    transition: .2s; }
    .search-form__btn-close:hover {
      background: #f6ba27; }
    .search-form__btn-close svg {
      width: 17px;
      height: 17px;
      fill: #000000; }
  .search-form--open {
    width: 600px; }

    @media (max-width: 1240px) {
      .search-form--open {
        width: 400px; }
    }

    .search-form--mobile {
      position: relative;
      margin-top: 40px;
      width: 100%;
    }

.tooltip-btn {
  position: absolute;
  right: 0;
  bottom: 10px;
  width: 26px;
  height: 26px;
  border-radius: 50%;
  background: #4E4E4E;
  transition: 0.3s all;
  display: flex;
  align-items: center;
  justify-content: center; }
  @media (max-width: 400px) {
    .tooltip-btn {
      width: 21px;
      height: 21px; } }
  .tooltip-btn[aria-describedby] {
    background: #F85858; }
  .tooltip-btn__icon {
    font-family: Cuprum, sans-serif;
    font-size: 19px;
    line-height: 1;
    color: #ffffff;
    transition: 0.3s all;
    display: inline-block;
    margin-left: 2px; }
    @media (max-width: 400px) {
      .tooltip-btn__icon {
        font-size: 14px;
        margin-left: 0; } }
  .tooltip-btn__content {
    display: none; }

.tippy-box {
  position: relative;
  background-color: #1A1C21;
  border-radius: 12px;
  font-family: Cuprum, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.4;
  color: #FFFFFF;
  outline: 0;
  transition-property: transform,visibility,opacity; }
  @media (max-width: 767.98px) {
    .tippy-box {
      font-size: 12px; } }
  @media (max-width: 400px) {
    .tippy-box {
      font-size: 9px;
      border-radius: 5px; } }

.tippy-content {
  position: relative;
  padding: 20px;
  z-index: 1; }
  @media (max-width: 767.98px) {
    .tippy-content {
      padding: 10px; } }

.tippy-arrow {
  color: #1A1C21; }

.header {
  position: relative;
  background: #000000;
  width: 100%; }
  .header--home {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 0;
    z-index: 99;
    background: transparent; }
  .header__inner {
    padding-top: 38px;
    padding-bottom: 34px;
    display: flex;
    align-items: center;
    justify-content: space-between; }
    @media (max-width: 1024px) {
      .header__inner > * {
        position: relative;
        z-index: 101; } }
    @media (max-width: 1024px) {
      .header__inner {
        padding-top: 24px;
        padding-bottom: 24px; } }
  .header__right {
    display: flex;
    align-items: center;
    justify-content: center; }
  .header__left {
    display: flex;
    align-items: center;
    justify-content: center; }
    @media (max-width: 1024px) {
      .header__left {
        flex-direction: row-reverse; } }
  .header__nav {
    margin-right: 98px;
    display: flex;
    align-self: stretch; }
    @media (max-width: 1024px) {
      .header__nav {
        display: none; }
    }
  .header__logo {
    position: relative;
    z-index: 101;
    display: flex;
    align-items: center; }
    @media (max-width: 767.98px) {
      .header__logo {
        max-width: 110px; } }

.container {
  margin: 0 auto;
  padding: 0 15px;
  width: 100%; }
  @media (min-width: 768px) {
    .container {
      max-width: 740px; } }
  @media (min-width: 992px) {
    .container {
      max-width: 960px; } }
  @media (min-width: 1240px) {
    .container {
      max-width: 1170px; } }
  @media (min-width: 1700px) {
    .container {
      max-width: 1600px; } }
  .container--header {
    max-width: 1415px; }
  @media (max-width: 767.98px) {
    .container--mob-full {
      padding: 0; } }

.hero {
  height: auto;
  width: 100%;
  position: relative; }
  .hero:before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: url("../img/hero-bg.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    z-index: -1; }
    @media (max-width: 767.98px) {
      .hero:before {
        background: url("../img/hero/hero-bg-mob.png");
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat; } }
  .hero:after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: linear-gradient(90.04deg, rgba(0, 0, 0, 0.72) 0.03%, rgba(0, 0, 0, 0) 99.96%);
    transform: rotate(-180deg);
    z-index: -1; }
  .hero__socials {
    display: flex; }

.hero-intro {
  padding-top: 200px;
  padding-bottom: 92px; }
  @media (max-width: 1240px) {
    .hero-intro {
      padding-top: 140px;
      padding-bottom: 50px; } }
  @media (max-width: 767.98px) {
    .hero-intro {
      padding-bottom: 10px; } }
  @media (max-width: 767.98px) {
    .hero-intro__container {
      padding: 0 10px; } }
  .hero-intro__title {
    font-weight: 700;
    font-size: 48px;
    line-height: 122.7%;
    color: #ffffff;
    margin: 0 0 35px 0;
    min-height: 120px; }
    @media (max-width: 1240px) {
      .hero-intro__title {
        font-size: 44px; } }
    @media (max-width: 1024px) {
      .hero-intro__title {
        font-size: 33px;
        min-height: 90px;
        margin: 0 0 25px 0; } }
    @media (max-width: 767.98px) {
      .hero-intro__title {
        text-align: center;
        font-size: 29px;
        min-height: 110px;
        margin: 0; } }
    @media (max-width: 500px) {
      .hero-intro__title {
        font-size: 25px;
        min-height: 100px; } }
    @media (max-width: 414px) {
      .hero-intro__title {
        font-size: 22px;
        min-height: 90px; } }
  .hero-intro__buy {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: -webkit-max-content;
    max-width: -moz-max-content;
    max-width: max-content; }
    @media (max-width: 767.98px) {
      .hero-intro__buy {
        display: none; } }
  .hero-intro__btn {
    font-size: 22px;
    margin-bottom: 15px;
    max-width: -webkit-max-content;
    max-width: -moz-max-content;
    max-width: max-content; }
  .hero-intro__hint {
    font-family: Cuprum, sans-serif;
    font-size: 14px;
    color: #C7C7C7; }

.hero-bottom {
  display: flex;
  position: relative; }
  @media (max-width: 992px) {
    .hero-bottom {
      flex-direction: column;
      align-items: center; } }
  .hero-bottom:before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    background: #000000;
    height: 125px;
    z-index: -1; }
    @media (max-width: 992px) {
      .hero-bottom:before {
        height: 165px; } }
  .hero-bottom__right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-right: 80px; }
    @media (max-width: 1024px) {
      .hero-bottom__right {
        padding-right: 15px; } }
    @media (max-width: 992px) {
      .hero-bottom__right {
        align-items: center;
        padding-right: 0;
        padding-top: 50px; } }

.hero-team {
  display: flex;
  align-items: flex-end;
  overflow-x: hidden;
  margin-right: 115px; }
  @media (max-width: 1240px) {
    .hero-team {
      margin-right: 50px;
      width: 60%; } }
  @media (max-width: 992px) {
    .hero-team {
      margin-right: 0;
      width: 100%; } }
  .hero-team__photo {
    width: 14.28571%;
    height: 450px;
    display: block; }
    .hero-team__photo:nth-child(7) {
      border-top-right-radius: 19px;
      border-bottom-right-radius: 19px; }
    @media (max-width: 1600px) {
      .hero-team__photo {
        height: 100%; } }
    @media (max-width: 1240px) {
      .hero-team__photo {
        width: 20%;
        height: 260px; }
        .hero-team__photo:nth-child(5) {
          border-top-right-radius: 10px;
          border-bottom-right-radius: 10px; }
        .hero-team__photo:nth-child(7), .hero-team__photo:nth-child(6) {
          display: none; } }
    @media (max-width: 992px) {
      .hero-team__photo {
        height: 370px; }
        .hero-team__photo:nth-child(5) {
          border-top-right-radius: 0;
          border-bottom-right-radius: 0; } }
    @media (max-width: 767.98px) {
      .hero-team__photo {
        height: 230px; } }
    @media (max-width: 500px) {
      .hero-team__photo {
        height: 200px; } }
    @media (max-width: 400px) {
      .hero-team__photo {
        height: 160px; } }

.hero-stat {
  padding: 40px 0 20px; }
  @media (max-width: 992px) {
    .hero-stat {
      display: flex;
      padding: 0 0 40px; } }
  @media (max-width: 767.98px) {
    .hero-stat {
      display: none; } }
  @media (max-width: 992px) {
    .hero-stat__item {
      text-align: center; } }
  .hero-stat__item:not(:last-child) {
    padding-bottom: 20px; }
    @media (max-width: 1240px) {
      .hero-stat__item:not(:last-child) {
        padding-bottom: 14px; } }
    @media (max-width: 992px) {
      .hero-stat__item:not(:last-child) {
        padding-bottom: 0;
        padding-right: 30px; } }
  .hero-stat__item-title {
    font-size: 36px;
    line-height: 122.7%;
    font-weight: 400;
    color: #ffffff; }
    @media (max-width: 1240px) {
      .hero-stat__item-title {
        font-size: 34px; } }
  .hero-stat__item-subtitle {
    font-size: 13px;
    line-height: 18px;
    color: #ADADAD; }

.hero-mail {
  display: none;
  max-width: 320px;
  margin-bottom: 45px;
  padding: 0 10px; }
  @media (max-width: 767.98px) {
    .hero-mail {
      display: block; } }
  .hero-mail__title {
    font-size: 16px;
    text-align: center;
    color: #CACACA;
    margin-bottom: 24px; }
  .hero-mail__form {
    display: flex;
    flex-direction: column; }
  .hero-mail__form-input {
    margin-bottom: 10px;
    height: 40px;
    font-size: 18px;
    padding: 7px 20px; }
  .hero-mail__form-btn {
    padding: 12px 20px;
    margin-bottom: 20px; }

.about {
  padding: 75px 0;
  background: #000000; }
  @media (max-width: 767.98px) {
    .about {
      padding: 40px 0; } }
  .about__inner {
    display: flex; }
    @media (max-width: 767.98px) {
      .about__inner {
        flex-direction: column-reverse; } }
  .about__left {
    width: 35%;
    padding-right: 70px;
    display: flex;
    flex-direction: column; }
    @media (max-width: 992px) {
      .about__left {
        width: 45%;
        padding-right: 40px; } }
    @media (max-width: 767.98px) {
      .about__left {
        width: 100%;
        padding: 40px 40px 0; } }
  .about__right {
    width: 65%; }
    @media (max-width: 992px) {
      .about__right {
        width: 55%; } }
    @media (max-width: 767.98px) {
      .about__right {
        width: 100%;
        padding-right: 0; } }
  .about__desc {
    padding-top: 17px; }
  .about__more {
    margin-top: auto; }
    @media (max-width: 767.98px) {
      .about__more {
        margin-top: 30px; } }

.advantages {
  background: #ffffff;
  padding: 60px 0 100px; }
  @media (max-width: 992px) {
    .advantages {
      padding: 30px 0 65px; } }
  @media (max-width: 992px) {
    .advantages {
      padding: 30px 0 20px; } }
  @media (max-width: 992px) {
    .advantages__title {
      max-width: 390px;
      margin: 0 auto; } }
  @media (max-width: 767.98px) {
    .advantages__title {
      padding-left: 25px; } }
  .advantages__list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0 -15px;
    padding-top: 75px; }
    @media (max-width: 992px) {
      .advantages__list {
        padding-top: 35px;
        margin: 0; } }

.advantage-item {
  width: 33.333333%;
  padding: 0 15px; }
  @media (max-width: 992px) {
    .advantage-item {
      width: 100%;
      padding: 0 0 40px; } }
  .advantage-item__inner {
    max-width: 390px; }
    @media (max-width: 992px) {
      .advantage-item__inner {
        margin: 0 auto; } }
    @media (max-width: 767.98px) {
      .advantage-item__inner {
        padding-left: 25px; } }
  .advantage-item__icon-wrapper {
    height: 81px;
    display: flex;
    align-items: flex-end; }
  .advantage-item__icon {
    display: block;
    max-height: 100%; }
  .advantage-item__title {
    font-size: 24px;
    line-height: 34px;
    font-weight: 500;
    color: #000000;
    padding: 16px 0 20px; }
    @media (max-width: 767.98px) {
      .advantage-item__title {
        font-size: 18px;
        padding: 14px 0 16px;
        line-height: 1.2; } }
  .advantage-item__text {
    font-size: 18px;
    line-height: 121.7%;
    color: #595959; }
    @media (max-width: 767.98px) {
      .advantage-item__text {
        font-size: 14px; } }

.buy-courses {
  background: #000000;
  padding: 75px 0 65px; }
  @media (max-width: 992px) {
    .buy-courses {
      padding: 30px 0 0; } }
  .buy-courses__container {
    max-width: 1460px; }
  .buy-courses__header {
    text-align: center; }
  .buy-courses__subtitle {
    font-family: Cuprum, sans-serif;
    font-weight: 400;
    font-size: 24px;
    color: #9B9B9B; }
    @media (max-width: 767.98px) {
      .buy-courses__subtitle {
        font-size: 18px; } }
  .buy-courses__btn {
    margin: 52px 0 68px; }
    @media (max-width: 1240px) {
      .buy-courses__btn {
        margin: 45px 0 40px; } }
    @media (max-width: 992px) {
      .buy-courses__btn {
        width: 300px;
        height: 52px;
        font-size: 20px;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        bottom: 110px;
        margin: 0; } }

.buy-advantages {
  display: flex; }
  @media (max-width: 992px) {
    .buy-advantages {
      flex-direction: column;
      position: relative;
      padding-bottom: 200px; } }
  @media (max-width: 767.98px) {
    .buy-advantages {
      width: 85%;
      margin: 0 auto; } }
  .buy-advantages__info {
    width: 35%;
    padding-right: 65px; }
    @media (max-width: 1240px) {
      .buy-advantages__info {
        width: 45%;
        padding-right: 40px; } }
    @media (max-width: 992px) {
      .buy-advantages__info {
        width: 60%;
        padding-right: 0;
        padding-bottom: 24px;
        margin: 0 auto; } }
    @media (max-width: 767.98px) {
      .buy-advantages__info {
        width: 100%; } }
  .buy-advantages__illustration {
    width: 65%;
    border-radius: 28px;
    position: relative;
    overflow: hidden; }
    @media (max-width: 1240px) {
      .buy-advantages__illustration {
        width: 55%; } }
    @media (max-width: 992px) {
      .buy-advantages__illustration {
        width: 100%; } }
    .buy-advantages__illustration-img {
      display: block;
      width: 100%;
      height: 100%;
      -o-object-fit: cover;
      object-fit: cover; }
    .buy-advantages__illustration-brief {
      position: absolute;
      top: 45px;
      left: 62px;
      text-align: center; }
      @media (max-width: 767.98px) {
        .buy-advantages__illustration-brief {
          top: 20px;
          left: 25px; } }
      @media (max-width: 540px) {
        .buy-advantages__illustration-brief {
          text-align: left;
          top: 12px;
          left: 10px; } }
    .buy-advantages__illustration-title {
      font-family: Cuprum, sans-serif;
      font-weight: 700;
      font-size: 48px;
      color: #ffffff;
      position: relative;
      margin-bottom: 24px; }
      @media (max-width: 767.98px) {
        .buy-advantages__illustration-title {
          font-size: 26px;
          margin-bottom: 16px; } }
      .buy-advantages__illustration-title:before {
        content: "";
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        bottom: -12px;
        width: 78px;
        height: 3px;
        background: #ffffff; }
        @media (max-width: 767.98px) {
          .buy-advantages__illustration-title:before {
            bottom: -6px;
            width: 55px; } }
    .buy-advantages__illustration-text {
      font-weight: 700;
      font-size: 24px;
      line-height: 122.7%;
      color: #ffffff; }
      @media (max-width: 767.98px) {
        .buy-advantages__illustration-text {
          font-size: 16px; } }
      @media (max-width: 540px) {
        .buy-advantages__illustration-text {
          font-size: 13px; } }
  .buy-advantages__more {
    margin-top: 50px; }
    @media (max-width: 540px) {
      .buy-advantages__more {
        margin-top: 30px; } }
    .buy-advantages__more .more__text {
      font-family: Cuprum, sans-serif;
      font-size: 24px;
      color: #ffffff; }
      @media (max-width: 540px) {
        .buy-advantages__more .more__text {
          font-size: 18px; } }
  @media (max-width: 992px) {
    .buy-advantages__socials {
      width: 80%;
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      display: flex;
      justify-content: center;
      bottom: 45px; } }

.buy-advantages__advantages {
  padding-top: 45px; }
  @media (max-width: 1240px) {
    .buy-advantages__advantages {
      padding-top: 25px; } }
  .buy-advantages__advantages-item {
    display: flex;
    align-items: center; }
    .buy-advantages__advantages-item:not(:last-child) {
      margin-bottom: 45px; }
    @media (max-width: 1240px) {
      .buy-advantages__advantages-item:not(:last-child) {
        margin-bottom: 25px; } }
    @media (max-width: 540px) {
      .buy-advantages__advantages-item:not(:last-child) {
        margin-bottom: 15px; } }
    .buy-advantages__advantages-item-icon {
      fill: #F85858;
      width: 32px;
      height: 23px;
      margin-right: 26px; }
      @media (max-width: 1240px) {
        .buy-advantages__advantages-item-icon {
          width: 25px;
          height: 16px;
          margin-right: 16px; } }
    .buy-advantages__advantages-item-text {
      font-size: 24px;
      line-height: 34px;
      font-weight: 500;
      color: #ffffff; }
      @media (max-width: 1240px) {
        .buy-advantages__advantages-item-text {
          font-size: 20px; } }
      @media (max-width: 540px) {
        .buy-advantages__advantages-item-text {
          font-size: 16px;
          line-height: 1.2; } }

.support {
  position: relative;
  background: linear-gradient(90deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%), url("../img/support-bg.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat; }
  .support__container {
    max-width: 1280px; }
  .support__inner {
    display: flex;
    width: 100%;
    padding-top: 88px; }
    @media (max-width: 992px) {
      .support__inner {
        flex-direction: column;
        align-items: center;
        padding-top: 40px; } }
  .support__info {
    width: 50%;
    padding-right: 60px; }
    @media (max-width: 992px) {
      .support__info {
        width: 100%;
        padding-right: 0;
        max-width: 500px;
        padding-bottom: 50px; } }
    @media (max-width: 767.98px) {
      .support__info {
        max-width: 360px; } }
    .support__info-btn {
      display: block;
      width: 438px;
      height: 74px;
      font-size: 24px;
      border-radius: 10px;
      font-family: "Cuprum", sans-serif;
      transition: 0.3s all; }
      .support__info-btn:not(:last-child) {
        margin-bottom: 7px; }
      @media (max-width: 992px) {
        .support__info-btn {
          margin: 0 auto; } }
      @media (max-width: 767.98px) {
        .support__info-btn {
          width: 90%;
          height: 57px;
          font-size: 18px;
          padding: 15px 30px; } }
  @media (max-width: 992px) {
    .support__title {
      text-align: center; } }
  .support__subtitle {
    font-size: 18px;
    line-height: 121.7%;
    color: #595959;
    padding: 18px 0 40px; }
    @media (max-width: 992px) {
      .support__subtitle {
        text-align: center; } }
    @media (max-width: 767.98px) {
      .support__subtitle {
        font-size: 14px;
        line-height: 1.2;
        padding: 14px 0 20px; } }
  .support__form-wrap {
    width: 50%;
    display: flex;
    justify-content: flex-end; }
    @media (max-width: 992px) {
      .support__form-wrap {
        width: 100%;
        justify-content: center; } }
  .support__form-bg {
    height: 440px;
    width: 500px;
    padding: 40px 40px 70px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    background: url("../img/support-phone-view.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat; }
    @media (max-width: 767.98px) {
      .support__form-bg {
        width: 330px;
        height: 285px;
        background-size: 100% 100%; } }
    .support__form-bg--open {
      background: url("../img/support-phone-black.png");
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat; }
      @media (max-width: 767.98px) {
        .support__form-bg--open {
          background-size: 100% 100%;
          padding: 10px 35px; } }
  .support__form {
    width: 100%;
    max-width: 342px;
    text-align: center;
    visibility: hidden;
    opacity: 0;
    transform: translateY(30px);
    transition: 0.3s all; }
    .support__form--open {
      visibility: visible;
      opacity: 1;
      transform: translateY(0); }
  .support__form-title {
    font-weight: 700;
    font-size: 24px;
    margin-bottom: 18px; }
    @media (max-width: 767.98px) {
      .support__form-title {
        font-size: 18px;
        margin-bottom: 10px; } }
  .support__form-input {
    width: 100%; }
    .support__form-input:not(:last-child) {
      margin-bottom: 5px; }
    @media (max-width: 767.98px) {
      .support__form-input {
        padding: 14px 24px;
        height: 40px;
        font-size: 14px;
        border-radius: 6px; } }
  .support__form-btn {
    padding: 5px;
    font-size: 18px;
    width: 100%;
    height: 50px;
    margin: 14px 0; }
    @media (max-width: 767.98px) {
      .support__form-btn {
        font-size: 14px;
        width: 100%;
        height: 40px;
        margin: 10px 0; } }

.relevant-courses {
  background: #000000;
  padding: 105px 0 90px; }
  @media (max-width: 992px) {
    .relevant-courses {
      padding: 40px 0 40px; } }
  @media (max-width: 767.98px) {
    .relevant-courses {
      padding: 20px 0 20px; } }
  .relevant-courses__container {
    max-width: 1460px; }
  .relevant-courses__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 34px; }
    @media (max-width: 767.98px) {
      .relevant-courses__header {
        max-width: 330px;
        padding-bottom: 74px;
        position: relative;
        margin: 0 auto; } }
  @media (max-width: 992px) {
    .relevant-courses__title {
      max-width: 400px; } }
  @media (max-width: 767.98px) {
    .relevant-courses__more {
      position: absolute;
      right: 0;
      bottom: 16px; } }
  .relevant-courses__more .more__text {
    font-family: Cuprum, sans-serif;
    font-weight: 400;
    font-size: 22px;
    color: #CFCFCF; }
  .relevant-courses .course-card:not(:last-child) {
    margin-bottom: 28px; }
  .relevant-courses__stat {
    margin: 76px 0 96px; }
    @media (max-width: 767.98px) {
      .relevant-courses__stat {
        margin: 60px 0; } }
    .relevant-courses__stat-container {
      max-width: 1180px; }
      @media (max-width: 767.98px) {
        .relevant-courses__stat-container {
          padding: 0; } }
    .relevant-courses__stat-inner {
      display: flex;
      flex-direction: row;
      width: 100%; }
      @media (max-width: 767.98px) {
        .relevant-courses__stat-inner {
          flex-wrap: wrap; } }
    .relevant-courses__stat-item {
      width: 33.333333%;
      padding: 19px 65px;
      background: #1A1C21; }
      @media (max-width: 1024px) {
        .relevant-courses__stat-item {
          padding: 19px 65px; } }
      @media (max-width: 767.98px) {
        .relevant-courses__stat-item {
          margin: 8px 0; } }
      @media (max-width: 767.98px) {
        .relevant-courses__stat-item {
          width: 100%; } }
      .relevant-courses__stat-item:nth-child(2) {
        margin: 0 36px; }
        @media (max-width: 767.98px) {
          .relevant-courses__stat-item:nth-child(2) {
            margin: 8px 0; } }
      .relevant-courses__stat-item-title {
        font-size: 48px;
        font-weight: 500;
        margin-bottom: 5px; }
      .relevant-courses__stat-item-subtitle {
        font-size: 18px;
        color: #ADADAD; }
  .relevant-courses__footer {
    max-width: 1690px;
    margin-left: auto;
    display: flex; }
    @media (max-width: 1600px) {
      .relevant-courses__footer {
        justify-content: center; } }
  .relevant-courses__mail {
    width: 55%;
    margin-right: 104px;
    align-self: center; }
    @media (max-width: 1600px) {
      .relevant-courses__mail {
        width: 870px;
        margin-right: 0; } }
    @media (max-width: 992px) {
      .relevant-courses__mail {
        width: 100%;
        max-width: 500px;
        margin: 0 auto;
        padding: 0 15px 50px;
        position: relative; } }
  .relevant-courses__mail-title {
    font-family: Cuprum, sans-serif;
    font-weight: 700;
    font-size: 72px;
    margin-bottom: 40px; }
    @media (max-width: 992px) {
      .relevant-courses__mail-title {
        font-size: 42px; } }
    @media (max-width: 767.98px) {
      .relevant-courses__mail-title {
        font-size: 36px; } }
  .relevant-courses__team-wrap {
    width: 45%; }
    @media (max-width: 1600px) {
      .relevant-courses__team-wrap {
        display: none; } }
  .relevant-courses__form-group {
    display: flex;
    align-items: center; }
    @media (max-width: 992px) {
      .relevant-courses__form-group {
        flex-direction: column; } }
    .relevant-courses__form-group > * {
      height: 50px; }
  .relevant-courses__mail-input {
    width: 34%; }
    @media (max-width: 992px) {
      .relevant-courses__mail-input {
        width: 100%; } }
    .relevant-courses__mail-input:nth-child(2) {
      margin: 0 7px; }
      @media (max-width: 992px) {
        .relevant-courses__mail-input:nth-child(2) {
          margin: 10px 0; } }
  .relevant-courses__mail-btn {
    padding: 10px 20px;
    font-size: 18px;
    flex-grow: 1; }
    @media (max-width: 992px) {
      .relevant-courses__mail-btn {
        width: 100%; } }
  .relevant-courses__team {
    display: flex;
    border-top-left-radius: 18px;
    border-bottom-left-radius: 18px;
    overflow: hidden; }
  .relevant-courses__team-photo {
    width: 180px;
    height: 420px; }

.answers {
  padding: 40px 0 96px;
  background: #000000;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat; }
  @media (max-width: 767.98px) {
    .answers {
      display: none; } }
  .answers__container {
    max-width: 1520px; }
  .answers__title {
    max-width: 620px; }
  .answers__accordion {
    margin-top: 72px; }

.reviews {
  padding: 40px 0 96px;
  background: #000000; }
  @media (max-width: 992px) {
    .reviews {
      padding: 40px 0 130px;
      position: relative; } }
  .reviews__container {
    max-width: 1520px;
    padding: 0 60px; }
    @media (max-width: 450px) {
      .reviews__container {
        padding: 0 15px; } }
  .reviews__title {
    margin-bottom: 10px; }
  .reviews__note {
    margin-bottom: 38px;
    margin-left: 28px;
    display: flex;
    align-items: center;
    justify-content: space-between; }
    @media (max-width: 767.98px) {
      .reviews__note {
        margin-bottom: 30px;
        margin-left: 0; } }
    .reviews__note > * {
      display: flex;
      align-items: center; }
  .reviews__subtitle {
    font-family: Cuprum, sans-serif;
    font-size: 24px;
    color: #525252; }
    @media (max-width: 540px) {
      .reviews__subtitle {
        font-size: 14px; } }
  @media (max-width: 992px) {
    .reviews__more {
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      bottom: 15px;
      width: 100%;
      justify-content: center; } }
  .reviews__more-text {
    font-size: 22px;
    color: #848484;
    margin-right: 30px; }
    @media (max-width: 540px) {
      .reviews__more-text {
        font-size: 14px;
        margin-right: 10px; } }
  .reviews__more-link {
    display: block;
    height: 36px; }
    .reviews__more-link:not(:last-child) {
      margin-right: 23px; }
    @media (max-width: 540px) {
      .reviews__more-link {
        height: 27px; }
        .reviews__more-link:not(:last-child) {
          margin-right: 15px; } }
  .reviews__more-icon {
    fill: #ffffff;
    display: inline-block;
    width: 36px;
    height: 100%;
    transition: 0.3s all; }
    @media (max-width: 540px) {
      .reviews__more-icon {
        width: 27px; } }
    .reviews__more-icon:hover {
      fill: #F8CA58; }
    .reviews__more-icon--vk {
      width: 45px; }
  .reviews__slide-hint {
    white-space: nowrap;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 75px;
    display: flex;
    align-items: center;
    font-size: 16px;
    display: none; }
    @media (max-width: 992px) {
      .reviews__slide-hint {
        display: flex; } }
    .reviews__slide-hint img {
      margin-left: 8px; }

.footer {
  padding: 100px 0;
  background: #131313; }
  @media (max-width: 1024px) {
    .footer {
      padding: 80px 0 40px; } }
  .footer__container {
    max-width: 1620px; }
  .footer__inner {
    display: flex; }
    @media (max-width: 1024px) {
      .footer__inner {
        flex-direction: column;
        align-items: center; } }
  .footer__col {
    width: 16%; }
    .footer__col--nav {
      width: 60%;
      margin: 0 auto;
      padding: 0 60px;
      display: flex; }
      @media (max-width: 1500px) {
        .footer__col--nav {
          padding: 0; } }
      @media (max-width: 1024px) {
        .footer__col--nav {
          display: none; } }
      .footer__col--nav--mob {
        width: initial;
        margin: initial;
        padding: initial;
        display: initial; }
    .footer__col--logo {
      display: flex;
      align-items: center; }
      @media (max-width: 1024px) {
        .footer__col--logo {
          margin-bottom: 42px;
          width: auto; } }
    .footer__col--socials {
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: auto; }
      @media (max-width: 1024px) {
        .footer__col--socials {
          margin-top: 45px;
          text-align: center; } }
    .footer__col--mobile {
      display: none; }
      @media (max-width: 1024px) {
        .footer__col--mobile {
          display: block;
          width: auto; } }
  .footer__nav {
    display: flex;
    flex-direction: column; }
    .footer__nav--info {
      max-width: 210px; }
  .footer__nav-title {
    width: 100%;
    font-weight: 500;
    font-size: 18px;
    margin-bottom: 16px; }
    .footer__nav-title--mob {
      font-size: 18px;
      color: #ffffff;
      margin-bottom: 0;
      white-space: nowrap; }
  .footer__nav-wrap {
    display: flex; }
  .footer__nav-block {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column; }
  .footer__nav-list {
    height: 100%;
    display: flex;
    flex-direction: column; }
    .footer__nav-list--space {
      padding-left: 110px;
      padding-right: 110px; }
      @media (max-width: 1500px) {
        .footer__nav-list--space {
          padding-left: 50px;
          padding-right: 50px; } }
    .footer__nav-list--mob {
      height: initial;
      max-height: 0;
      transition: all .2s linear;
      overflow: hidden; }
    .footer__nav-list--open {
      max-height: 300px;
      margin-bottom: 26px; }
  .footer__nav-item:not(:last-child) {
    margin-bottom: 13px; }
  .footer__nav-item--mob {
    text-align: center; }
  .footer__nav-link {
    font-weight: 400;
    font-size: 16px;
    color: #ffffff;
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content; }
    .footer__nav-link:not(:last-child) {
      margin-bottom: 13px; }
  .footer__socials {
    margin-top: 15px; }
  .footer__nav-btn {
    margin-bottom: 18px;
    display: flex;
    align-items: center; }
    .footer__nav-btn svg {
      width: 17px;
      height: 13px;
      fill: #EA3A3A;
      margin-left: 12px;
      transform: rotate(0);
      transition: all .2s linear; }
    .footer__nav-btn--open svg {
      transform: rotate(180deg); }

.catalog {
  padding: 130px 0; }
  @media (max-width: 767.98px) {
    .catalog {
      padding: 80px 0; } }
  .catalog__container {
    max-width: 1460px; }
  @media (max-width: 767.98px) {
    .catalog__title {
      padding-bottom: 28px;
      text-align: center; } }
  @media (max-width: 767.98px) {
    .catalog__content {
      position: relative; } }
  .catalog__tabs-head {
    padding: 34px 0 70px; }
    @media (max-width: 767.98px) {
      .catalog__tabs-head {
        padding: 0; } }

.course-intro {
  padding-top: 80px; }
  @media (max-width: 767.98px) {
    .course-intro {
      padding-top: 50px; } }
  .course-intro__container {
    max-width: 1460px; }
  .course-intro__inner {
    padding-bottom: 50px; }
  .course-intro__stat {
    padding: 26px 0 64px;
    display: flex; }
    @media (max-width: 1200px) {
      .course-intro__stat {
        flex-direction: column;
        max-width: 500px;
        margin: 0 auto; } }
    @media (max-width: 767.98px) {
      .course-intro__stat {
        padding: 20px 0 30px; } }
  .course-intro__places {
    padding: 38px 46px;
    background: #1A1C21;
    border-radius: 13px;
    display: flex; }
    @media (max-width: 1200px) {
      .course-intro__places {
        flex-direction: column;
        text-align: center;
        padding: 0 46px;
        margin-bottom: 7px; } }
  @media (max-width: 1200px) {
    .course-intro__places-block {
      padding: 20px 0; }
      .course-intro__places-block:first-child {
        border-bottom: 1px solid #282A31; } }
  .course-intro__places-text {
    font-size: 26px;
    color: #ffffff; }
    @media (max-width: 767.98px) {
      .course-intro__places-text {
        font-size: 22px; } }
  .course-intro__places-val {
    font-size: 48px;
    font-weight: 500;
    color: #F8CA58;
    margin-left: 26px; }
    @media (max-width: 767.98px) {
      .course-intro__places-val {
        font-size: 36px;
        margin-left: 16px; } }
  .course-intro__places-sep {
    font-size: 48px;
    font-weight: 500;
    line-height: 46px;
    color: #3A3A3A;
    margin: 0 30px; }
    @media (max-width: 1200px) {
      .course-intro__places-sep {
        display: none; } }
  .course-intro__purchased {
    align-self: flex-start;
    margin-left: 20px;
    padding: 26px 60px;
    background: #1A1C21;
    border-radius: 13px;
    font-size: 24px;
    font-weight: 500; }
    @media (max-width: 1200px) {
      .course-intro__purchased {
        margin: 0;
        width: 100%;
        text-align: center; } }
    @media (max-width: 767.98px) {
      .course-intro__purchased {
        font-size: 18px; } }
  .course-intro__advantages {
    padding: 45px 0 95px;
    display: flex;
    justify-content: space-between; }
    @media (max-width: 767.98px) {
      .course-intro__advantages {
        display: none; } }
  .course-intro__advantages-list {
    width: 33.33333%; }
    .course-intro__advantages-list:nth-child(2) {
      margin: 0 30px; }
  .course-intro__advantage-item {
    position: relative;
    font-size: 24px;
    color: #ffffff;
    padding-left: 54px; }
    .course-intro__advantage-item:not(:last-child) {
      margin-bottom: 35px; }
    @media (max-width: 992px) {
      .course-intro__advantage-item {
        font-size: 18px;
        padding-left: 30px; }
        .course-intro__advantage-item:not(:last-child) {
          margin-bottom: 20px; } }
    .course-intro__advantage-item:before {
      content: "";
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: 0;
      width: 30px;
      height: 30px;
      background: url("data:image/svg+xml,%3Csvg width='30' height='29' viewBox='0 0 30 29' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='14.5' cy='14.5' r='13.5' stroke='white' stroke-width='2'/%3E%3Cpath d='M1.54452 11.2082C2.10242 10.5958 3.00695 10.5958 3.56485 11.2082L13.3441 21.9428L10.7896 24.7468L1.01042 14.0122C0.452517 13.3998 0.452517 12.4069 1.01042 11.7945L1.54452 11.2082Z' fill='%23F85858'/%3E%3Cpath d='M28.1402 3.69485C28.6981 4.30726 28.6981 5.30016 28.1402 5.91257L10.982 24.7471L8.42761 21.9431L25.5858 3.10857C26.1437 2.49616 27.0482 2.49616 27.6061 3.10857L28.1402 3.69485Z' fill='%23F85858'/%3E%3C/svg%3E%0A");
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain; }
      @media (max-width: 992px) {
        .course-intro__advantage-item:before {
          width: 20px;
          height: 20px; } }
  @media (max-width: 767.98px) {
    .course-intro__title {
      display: none; } }
  .course-intro__btn-detail {
    font-size: 22px;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto; }
    .course-intro__btn-detail[aria-expanded="true"] svg {
      transform: rotate(180deg); }
    .course-intro__btn-detail svg {
      margin-top: 18px;
      width: 44px;
      height: 24px;
      fill: #F8CA58;
      transition: transform .2s linear; }
  .course-intro__collapse {
    max-height: 0;
    overflow: hidden;
    opacity: 0;
    transition: all .2s linear; }
    .course-intro__collapse--open {
      max-height: 2000px;
      opacity: 1; }
  .course-intro__description {
    background: #ffffff;
    padding: 70px 35px 100px; }
    @media (max-width: 767.98px) {
      .course-intro__description {
        padding: 40px 35px; } }
    @media (max-width: 400px) {
      .course-intro__description {
        padding: 30px 20px; } }
  .course-intro__description-text {
    font-size: 24px;
    line-height: 140.7%;
    color: #000000;
    margin-top: 40px; }
    @media (max-width: 767.98px) {
      .course-intro__description-text {
        font-size: 15px;
        line-height: 1.2;
        margin-top: 20px; } }

@-webkit-keyframes verticalSlide {
  0% {
    transform: translateY(-6px); }
  50% {
    transform: translateY(0); }
  100% {
    transform: translateY(-6px); } }

@keyframes verticalSlide {
  0% {
    transform: translateY(-6px); }
  50% {
    transform: translateY(0); }
  100% {
    transform: translateY(-6px); } }

.speaker {
  padding: 80px 0;
  background: #000000; }
  @media (max-width: 992px) {
    .speaker {
      padding: 20px 0; } }
  .speaker__inner {
    display: flex; }
    @media (max-width: 992px) {
      .speaker__inner {
        flex-direction: column;
        padding: 0 20px; } }
    @media (max-width: 992px) {
      .speaker__inner {
        padding: 0; } }
  .speaker__present {
    margin-right: 90px;
    min-width: 600px;
    width: 600px;
    min-height: 420px;
    height: 420px;
    position: relative; }
    @media (max-width: 1300px) {
      .speaker__present {
        min-width: 460px;
        width: 460px;
        min-height: 340px;
        height: 340px;
        margin-right: 40px; } }
    @media (max-width: 992px) {
      .speaker__present {
        min-width: initial;
        width: 100%;
        min-height: initial;
        height: auto;
        margin-right: 0; } }
  .speaker__present-photo {
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 13px; }
    @media (max-width: 992px) {
      .speaker__present-photo {
        display: initial;
        width: 100%;
        height: auto; } }
  .speaker__present-info {
    position: absolute;
    bottom: 28px;
    left: 60px;
    display: flex;
    flex-direction: column; }
    @media (max-width: 992px) {
      .speaker__present-info {
        left: 20px; } }
  .speaker__info-head {
    display: flex;
    align-items: center;
    padding-bottom: 12px; }
    @media (max-width: 992px) {
      .speaker__info-head {
        justify-content: center;
        padding-top: 20px; } }
  .speaker__post {
    font-weight: 700;
    font-size: 24px;
    color: #F8CA58; }
    @media (max-width: 400px) {
      .speaker__post {
        font-size: 16px; } }
    .speaker__post--red {
      color: #F85858; }
    @media (max-width: 992px) {
      .speaker__post--mob-none {
        display: none; } }
  .speaker__name {
    font-weight: 700;
    font-size: 48px;
    color: #ffffff; }
    @media (max-width: 1300px) {
      .speaker__name {
        font-size: 36px; } }
    @media (max-width: 400px) {
      .speaker__name {
        font-size: 26px; } }
    @media (max-width: 992px) {
      .speaker__name--mob-none {
        display: none; } }
  .speaker__socials {
    margin-left: 42px;
    margin-top: 7px;
    display: flex;
    align-items: center; }
    @media (max-width: 1300px) {
      .speaker__socials {
        margin-left: 25px; } }
    @media (max-width: 992px) {
      .speaker__socials {
        margin-left: 0; } }
  .speaker__info-text {
    padding-top: 34px;
    font-size: 20px;
    line-height: 24px; }
    @media (max-width: 1300px) {
      .speaker__info-text {
        padding-top: 20px;
        font-size: 16px;
        line-height: 1.2; } }

.stages {
  padding: 104px 15px 130px; }
  @media (max-width: 1200px) {
    .stages {
      padding: 60px 0 60px; } }
  @media (max-width: 490px) {
    .stages {
      padding: 40px 0 20px; } }
  .stages__container {
    max-width: 1390px; }
  .stages__title {
    margin-bottom: 80px; }
    @media (max-width: 1200px) {
      .stages__title {
        text-align: center;
        padding-right: 15px;
        padding-left: 15px; } }
    @media (max-width: 992px) {
      .stages__title {
        margin-bottom: 40px; } }
    @media (max-width: 490px) {
      .stages__title {
        text-align: left;
        margin-bottom: 50px; } }
  .stages__inner {
    display: flex;
    position: relative;
    padding-bottom: 40px; }
    @media (max-width: 1200px) {
      .stages__inner {
        flex-direction: column; } }
    .stages__inner:before {
      content: "";
      position: absolute;
      bottom: 38px;
      left: 33px;
      height: 104px;
      width: 1040px;
      background-image: url("data:image/svg+xml,%3Csvg width='1054' height='105' viewBox='0 0 1054 105' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1048 0L1045.11 5L1050.89 5L1048 0ZM1048.5 102L1048.5 100.038L1047.5 100.038L1047.5 102L1048.5 102ZM1048.5 96.1154L1048.5 92.1923L1047.5 92.1923L1047.5 96.1154L1048.5 96.1154ZM1048.5 88.2692L1048.5 84.3462L1047.5 84.3462L1047.5 88.2692L1048.5 88.2692ZM1048.5 80.4231L1048.5 76.5L1047.5 76.5L1047.5 80.4231L1048.5 80.4231ZM1048.5 72.5769L1048.5 68.6538L1047.5 68.6538L1047.5 72.5769L1048.5 72.5769ZM1048.5 64.7308L1048.5 60.8077L1047.5 60.8077L1047.5 64.7308L1048.5 64.7308ZM1048.5 56.8846L1048.5 52.9615L1047.5 52.9615L1047.5 56.8846L1048.5 56.8846ZM1048.5 49.0385L1048.5 45.1154L1047.5 45.1154L1047.5 49.0385L1048.5 49.0385ZM1048.5 41.1923L1048.5 37.2692L1047.5 37.2692L1047.5 41.1923L1048.5 41.1923ZM1048.5 33.3462L1048.5 29.4231L1047.5 29.4231L1047.5 33.3462L1048.5 33.3462ZM1048.5 25.5L1048.5 21.5769L1047.5 21.5769L1047.5 25.5L1048.5 25.5ZM1048.5 17.6538L1048.5 13.7308L1047.5 13.7308L1047.5 17.6538L1048.5 17.6538ZM1048.5 9.80767L1048.5 5.88459L1047.5 5.88459L1047.5 9.80767L1048.5 9.80767ZM1048 0L1042.23 10L1053.77 10L1048 0ZM1049 102L1049 100.038L1047 100.038L1047 102L1049 102ZM1049 96.1154L1049 92.1923L1047 92.1923L1047 96.1154L1049 96.1154ZM1049 88.2692L1049 84.3462L1047 84.3462L1047 88.2692L1049 88.2692ZM1049 80.4231L1049 76.5L1047 76.5L1047 80.4231L1049 80.4231ZM1049 72.5769L1049 68.6538L1047 68.6538L1047 72.5769L1049 72.5769ZM1049 64.7308L1049 60.8077L1047 60.8077L1047 64.7308L1049 64.7308ZM1049 56.8846L1049 52.9615L1047 52.9615L1047 56.8846L1049 56.8846ZM1049 49.0385L1049 45.1154L1047 45.1154L1047 49.0385L1049 49.0385ZM1049 41.1923L1049 37.2692L1047 37.2692L1047 41.1923L1049 41.1923ZM1049 33.3462L1049 29.4231L1047 29.4231L1047 33.3462L1049 33.3462ZM1049 25.5L1049 21.5769L1047 21.5769L1047 25.5L1049 25.5ZM1049 17.6538L1049 13.7308L1047 13.7308L1047 17.6538L1049 17.6538ZM1049 9.80767L1049 5.88459L1047 5.88459L1047 9.80767L1049 9.80767Z' fill='white'/%3E%3Cline x1='1049' y1='104.5' x2='4.37115e-08' y2='104.5' stroke='white' stroke-dasharray='4 4'/%3E%3Cline x1='0.5' y1='13' x2='0.5' y2='104' stroke='white' stroke-dasharray='4 4'/%3E%3C/svg%3E%0A");
      background-size: contain;
      background-repeat: no-repeat; }
      @media (max-width: 1200px) {
        .stages__inner:before {
          display: none; } }
  .stages__left {
    width: 60%;
    padding-right: 108px; }
    @media (max-width: 1200px) {
      .stages__left {
        width: 100%;
        padding: 0 15px 100px;
        position: relative; } }
    @media (max-width: 490px) {
      .stages__left {
        padding: 0 15px 50px; } }
  .stages__right {
    width: 40%; }
    @media (max-width: 1200px) {
      .stages__right {
        width: 100%; } }
  .stages__list {
    display: flex;
    flex-direction: column; }
    @media (max-width: 1200px) {
      .stages__list {
        max-width: 500px;
        margin: 0 auto; } }
  .stages__item {
    display: flex; }
  .stages__item-count {
    padding-bottom: 110px;
    margin-top: 25px;
    margin-right: 60px;
    position: relative; }
    @media (max-width: 1200px) {
      .stages__item-count {
        padding-bottom: 85px;
        margin-top: 15px;
        margin-right: 40px; } }
    @media (max-width: 640px) {
      .stages__item-count {
        margin-top: 45px;
        padding-bottom: 0;
        margin-right: 20px;
        min-height: 95px; } }
    .stages__item-count:not(.stages__item-count--last):before {
      content: "";
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      bottom: -10px;
      height: 102px;
      width: 12px;
      background: url("data:image/svg+xml,%3Csvg width='12' height='102' viewBox='0 0 12 102' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6 102L8.88675 97L3.11324 97L6 102ZM5.5 -2.18557e-08L5.5 1.96154L6.5 1.96154L6.5 2.18557e-08L5.5 -2.18557e-08ZM5.5 5.88462L5.5 9.80769L6.5 9.80769L6.5 5.88462L5.5 5.88462ZM5.5 13.7308L5.5 17.6538L6.5 17.6538L6.5 13.7308L5.5 13.7308ZM5.5 21.5769L5.5 25.5L6.5 25.5L6.5 21.5769L5.5 21.5769ZM5.5 29.4231L5.5 33.3462L6.5 33.3462L6.5 29.4231L5.5 29.4231ZM5.5 37.2692L5.5 41.1923L6.5 41.1923L6.5 37.2692L5.5 37.2692ZM5.5 45.1154L5.5 49.0385L6.5 49.0385L6.5 45.1154L5.5 45.1154ZM5.5 52.9615L5.5 56.8846L6.5 56.8846L6.5 52.9615L5.5 52.9615ZM5.5 60.8077L5.5 64.7308L6.5 64.7308L6.5 60.8077L5.5 60.8077ZM5.5 68.6538L5.5 72.5769L6.5 72.5769L6.5 68.6538L5.5 68.6538ZM5.5 76.5L5.5 80.4231L6.5 80.4231L6.5 76.5L5.5 76.5ZM5.5 84.3462L5.5 88.2692L6.5 88.2692L6.5 84.3462L5.5 84.3462ZM5.5 92.1923L5.5 96.1154L6.5 96.1154L6.5 92.1923L5.5 92.1923ZM6 102L11.7735 92L0.226493 92L6 102ZM5 -4.37114e-08L5 1.96154L7 1.96154L7 4.37114e-08L5 -4.37114e-08ZM5 5.88462L5 9.80769L7 9.80769L7 5.88462L5 5.88462ZM5 13.7308L5 17.6538L7 17.6538L7 13.7308L5 13.7308ZM5 21.5769L5 25.5L7 25.5L7 21.5769L5 21.5769ZM5 29.4231L5 33.3462L7 33.3462L7 29.4231L5 29.4231ZM5 37.2692L5 41.1923L7 41.1923L7 37.2692L5 37.2692ZM5 45.1154L5 49.0385L7 49.0385L7 45.1154L5 45.1154ZM5 52.9615L5 56.8846L7 56.8846L7 52.9615L5 52.9615ZM5 60.8077L5 64.7308L7 64.7308L7 60.8077L5 60.8077ZM5 68.6538L5 72.5769L7 72.5769L7 68.6538L5 68.6538ZM5 76.5L5 80.4231L7 80.4231L7 76.5L5 76.5ZM5 84.3462L5 88.2692L7 88.2692L7 84.3462L5 84.3462ZM5 92.1923L5 96.1154L7 96.1154L7 92.1923L5 92.1923Z' fill='white'/%3E%3C/svg%3E%0A");
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center; }
      @media (max-width: 1200px) {
        .stages__item-count:not(.stages__item-count--last):before {
          height: 80px;
          bottom: -6px; } }
      @media (max-width: 640px) {
        .stages__item-count:not(.stages__item-count--last):before {
          bottom: -33px; } }
      @media (max-width: 490px) {
        .stages__item-count:not(.stages__item-count--last):before {
          height: 90%; } }
  .stages__item-count-val {
    min-width: 70px;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    text-align: center;
    font-weight: 700;
    font-size: 40px;
    line-height: 1.6;
    color: #F8CA58;
    border: 3px solid #ffffff; }
    @media (max-width: 992px) {
      .stages__item-count-val {
        min-width: 50px;
        width: 50px;
        height: 50px;
        font-size: 26px;
        line-height: 1.8;
        border-width: 1px; } }
    @media (max-width: 992px) {
      .stages__item-count-val {
        min-width: 34px;
        width: 34px;
        height: 34px;
        font-size: 18px;
        line-height: 1.8;
        border-width: 1px; } }
  .stages__item-title {
    font-size: 24px;
    line-height: 34px;
    font-weight: 500;
    margin-bottom: 15px; }
    @media (max-width: 1200px) {
      .stages__item-title {
        font-size: 20px; } }
    @media (max-width: 640px) {
      .stages__item-title {
        font-size: 18px;
        margin-bottom: 10px; } }
    @media (max-width: 490px) {
      .stages__item-title {
        margin-bottom: 5px;
        line-height: 1.2;
        font-size: 17px; } }
  @media (max-width: 640px) {
    .stages__item-info {
      margin-bottom: 30px; } }
  .stages__present {
    width: 540px;
    height: 680px;
    border-radius: 13px;
    padding: 50px 42px;
    background: url("../img/present-course-img.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: flex-end;
    flex-direction: column; }
    @media (max-width: 1470px) {
      .stages__present {
        width: 430px;
        height: 520px; } }
    @media (max-width: 1200px) {
      .stages__present {
        margin: 0 auto; } }
    @media (max-width: 490px) {
      .stages__present {
        width: 100%;
        height: 400px;
        padding: 20px; } }
  .stages__present-title {
    font-weight: 700;
    font-size: 48px;
    line-height: 128.2%;
    color: #ffffff;
    margin-bottom: 40px; }
    @media (max-width: 1470px) {
      .stages__present-title {
        font-size: 36px;
        line-height: 1.3;
        margin-bottom: 30px; } }
    @media (max-width: 640px) {
      .stages__present-title {
        font-size: 32px;
        line-height: 1.3;
        margin-bottom: 20px; } }
    @media (max-width: 400px) {
      .stages__present-title {
        font-size: 26px;
        line-height: 1.2; } }
  .stages__contest-text {
    position: absolute;
    left: 100px;
    bottom: -40px;
    font-size: 24px;
    color: #ffffff; }
    @media (max-width: 1200px) {
      .stages__contest-text {
        display: none; } }
    @media (max-width: 1200px) {
      .stages__contest-text--mob {
        display: block;
        bottom: 40px;
        font-size: 18px;
        left: 50%;
        transform: translateX(-50%);
        max-width: 360px;
        text-align: center; } }
    @media (max-width: 490px) {
      .stages__contest-text--mob {
        max-width: 290px;
        width: 100%;
        font-size: 12px; } }
  .stages__contest-link {
    font-size: 36px;
    -webkit-text-decoration-line: underline;
    text-decoration-line: underline;
    -webkit-text-decoration-skip-ink: none;
    text-decoration-skip-ink: none;
    font-weight: bold;
    color: #EA3A3A; }
    @media (max-width: 1200px) {
      .stages__contest-link {
        font-size: 26px; } }
    @media (max-width: 490px) {
      .stages__contest-link {
        font-size: 12px; } }
